
<a href="https://colab.research.google.com/github/hernansalinas/Curso_aprendizaje_estadistico/blob/main/Sesiones/Sesion_01a_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Repaso de python. 
Objetivo: El objetivo de esta sesion es estudiar conceptos basicos de python necesarios para realizar modelos de maching learning

0. Python Básico
1. Objetos 
2. Operación filter, map, reduce 
3. Pandas,  
4. Matplotlib , Sea born
5. Aplicaciones

# Python Philosophy..

https://www.python.org/dev/peps/pep-0020/#abstract

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# FUNCTION, BUCLES, CONDITIONAL, AND  LIST COMPREHENSIONS

In [ ]:
my_list = []
for number in range(0, 10):
  if number % 2 == 0:
    my_list.append(number)
my_list

[0, 2, 4, 6, 8]

In [ ]:
my_list = [number for number in range(0, 10)  if number %2 ==0]

In [ ]:
my_list

[0, 2, 4, 6, 8]

In [ ]:
def times_tables():
    """
    
    Params 

    output

    """
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

In [ ]:
times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [ ]:
def squares_0():
  squares = []
  for x in range(10):
    squares.append(x**2)
  return squares


# Operation use in big data files
def squares_1():
  return list(map(lambda x: x**2, range(10)))


def squares_2():
  return [x**2 for x in range(10)]

In [ ]:
squares_0()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
import numpy as np
import time

In [ ]:
times = [] 
tmax = 100000
for i in range(0,tmax):
  # Common for
  tini0 = time.time()
  squares_0()
  tend0 = time.time()
  # Operation map
  tini1 = time.time()
  squares_1()
  tend1 = time.time()
  # Comprhension expresion 
  tini2 = time.time()
  squares_2()
  tend2 = time.time()    
  times.append([tend0-tini0, tend1-tini1, tend2-tini2] )

t=np.array(times)

In [ ]:
mean = np.mean(t, axis = 0)
print(mean)

[3.22166204e-06 3.87732267e-06 2.89383888e-06]

# OBJETOS

In [ ]:
class auto:
  """
  Esta clase asigna un color y un tipo 
  a un clase tipo carro
  """
  var = "taller de carros"

  def set_name_tipo(self, new_tipo):
    self.tipo = new_tipo

  def set_name_color(self, new_color ):
    self.color = new_color

In [ ]:
carro = auto()
carro.set_name_color="rojo"
carro.set_name_tipo="bus "
print(f"El carro es {carro.set_name_color} y es un  {carro.set_name_tipo} " )

El carro es rojo y es un  bus

# FUNCION LAMBDA

In [ ]:
f = lambda x: (x+2)

In [ ]:
f(2)

4

# FUNCION FILTER

Filtros avanzados en python a través de programacion funcional

Ref = https://docs.hektorprofe.net/python/funcionalidades-avanzadas/funcion-filter/, 

https://docs.python.org/3/library/functions.html#filter

In [ ]:
def multiple(numero):    # Primero declaramos una función condicional
    if numero % 5 == 0:  # Comprobamos si un numero es múltiple de cinco
        return True      # Sólo devolvemos True si lo es

numeros = [2, 5, 10, 23, 50, 33, 5000]
a = filter(multiple, numeros)

In [ ]:
a

In [ ]:
list(a)

[5, 10, 50, 5000]

In [ ]:
list(a)

[]

# FUNCIÓN MAP

In [ ]:
a = [10.00, 11.00, 12.34, 2.0 ]
b = [9.8, 11.10, 12.34, 2.01 ]

In [ ]:
var = map(min, a, b)
var

In [ ]:
list(var)

[9.8, 11.0, 12.34, 2.0]

In [ ]:
var

In [ ]:
list(var)

[]

In [ ]:
# Este resultado no muestra nada, ¿porqué?. 
#La variable var ya fue evaluada a través de elementos funcionales
for item in var:
  print(item)

Otro ejemplo con la operación map

In [ ]:
people = ['Dr. Simon Einstein', 'Dr. Pedro Euler  ', 'Dr. Juan Tesla', 'Dr. Daniel Maxwell']
people[0].split()

['Dr.', 'Simon', 'Einstein']

In [ ]:
def split_title_and_name(person):  
    title = person.split()[0]
    lastname = person.split()[-1]
    return f'{title} {lastname}'

last_names = map(split_title_and_name, people)
list(last_names)

['Dr. Einstein', 'Dr. Euler', 'Dr. Tesla', 'Dr. Maxwell']

In [ ]:
a = []
for p in people:
  a.append(split_title_and_name(p))
a

['Dr. Einstein', 'Dr. Euler', 'Dr. Tesla', 'Dr. Maxwell']

# Diccionarios

Elementos basicos con diccionarios

In [ ]:
students_class = { "Bob": "Physics","Alice": "Physics","Ana": "Biology" }

In [ ]:
for i, s in enumerate(students_class):
  print(i, s, students_class[s])

0 Bob Physics
1 Alice Physics
2 Ana Biology

In [ ]:
students_class.items()

dict_items([('Bob', 'Physics'), ('Alice', 'Physics'), ('Ana', 'Biology')])

Otra forma de iteraciones para los diccionarios a través del metodo items()

In [ ]:
for key, val in students_class.items():
  print(key, val)

Bob Physics
Alice Physics
Ana Biology

Accediendo a los valores del diccionario
Accediendo a las claves
- metodo keys()
- metodo values()

In [ ]:
print(students_class.values())
print(students_class.keys())

dict_values(['Physics', 'Physics', 'Biology'])
dict_keys(['Bob', 'Alice', 'Ana'])

# Pandas.

## Series
## Data Frame

In [ ]:
import pandas as pd
students_class = { "Bob": "Physics",
                  "Alice": "Chemistry",
                  "Ana": "Biology" }

In [ ]:
# Ndarray unidimensional con ejes etiquetados
s = pd.Series(students_class)
s

Bob        Physics
Alice    Chemistry
Ana        Biology
dtype: object

In [ ]:
# https://pandas.pydata.org/docs/reference/series.html
print(type(s.index))
s.index

<class 'pandas.core.indexes.base.Index'>

Index(['Bob', 'Alice', 'Ana'], dtype='object')

In [ ]:
#Forma de acceder a los elementos con el número del indice
s.iloc[2]

'Biology'

In [ ]:
#Forma de acceder a los indices
s.loc["Alice"]

'Chemistry'

In [ ]:
s.Bob

'Physics'

### Definición clave valor con enteros como clave.

In [ ]:
class_code = {99:"Physics", 
              100:"Chemistry", 
              101:"English" }

In [ ]:
s = pd.Series(class_code)

In [ ]:
s

99       Physics
100    Chemistry
101      English
dtype: object

In [ ]:
s.iloc[2]

'English'

In [ ]:
s.loc[99]

'Physics'

Tambien podemos definir el objeto Serie  a partir de una lista

In [ ]:
grades = pd.Series([8,7,10,1])

In [ ]:
grades

0     8
1     7
2    10
3     1
dtype: int64

In [ ]:
for i, g in enumerate(grades):
  print(i,g)

0 8
1 7
2 10
3 1

In [ ]:
grades.mean()

6.5

In [ ]:
grades.describe()

count     4.000000
mean      6.500000
std       3.872983
min       1.000000
25%       5.500000
50%       7.500000
75%       8.500000
max      10.000000
dtype: float64

Definicion a través de un  numpy array

In [ ]:
x = np.random.randint(0,20, 100)
random_s = pd.Series(x)

In [ ]:
random_s

0     18
1     11
2     13
3     16
4     18
      ..
95    11
96     7
97     1
98    18
99     1
Length: 100, dtype: int64

In [ ]:
random_s.head()

0    18
1    11
2    13
3    16
4    18
dtype: int64

In [ ]:
#Recorrido por las claves y valores, el metodo head es considerado para mostrar pocos valores

for index, values in random_s.head().iteritems():
  print(index, values)

0 18
1 11
2 13
3 16
4 18

In [ ]:
%%timeit -n 100
x = np.random.randint(0,20, 100)
random_s = pd.Series(x)
random_s+=2 # OPeraciones vectoriales a todo el data frame, más eficiente.

#Comparar cuando se tiene un ciclo para realizar la suma, ¿cuál es mas eficiente?

100 loops, best of 5: 226 µs per loop

Agregando nuevos valores con indices diferentes

In [ ]:
s = pd.Series([1,2,3,4,9])

In [ ]:
s.loc["nuevo"]=2

In [ ]:
s

0        1
1        2
2        3
3        4
4        9
nuevo    2
dtype: int64

In [ ]:
s.loc["nuevo"]

2

In [ ]:
s["nuevo"]

2

In [ ]:
s.iloc[-1]

2

Otra *forma* de definir una serie es a través de :

In [ ]:
juan_class = pd.Series(["a", "b","c"], index=["0","1","2"])

In [ ]:
juan_class

0    a
1    b
2    c
dtype: object

# Data Frame 



Un DataFrame es una lista  de series

In [ ]:
d1 = { "Name":"Juan", "Topic":"Quantum Mechanics", "Score" : 10}
d2 = { "Name":"Pedro", "Topic":"statistical", "Score" : 10}
d3 = { "Name":"Ana", "Topic":"Clasical Mechanics", "Score" : 10}

record1 = pd.Series(d1)
record2 = pd.Series(d2)
record3 = pd.Series(d3)

In [ ]:
# indices con números enteros
df1 = pd.DataFrame( [record1, record2, record3] )
df1

    Name               Topic  Score
0   Juan   Quantum Mechanics     10
1  Pedro         statistical     10
2    Ana  Clasical Mechanics     10

In [ ]:
# Asignando nombre a los indices
df2 = pd.DataFrame( [record1, record2, record3] , index = ["UdeA","Unal", "ITM"] )
df2

       Name               Topic  Score
UdeA   Juan   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
#Accediendo a los indices por el nombre
df2.loc["UdeA"]

Name                  Juan
Topic    Quantum Mechanics
Score                   10
Name: UdeA, dtype: object

In [ ]:
#Accediendo a los indices por el numero
df2.iloc[0]

Name                  Juan
Topic    Quantum Mechanics
Score                   10
Name: UdeA, dtype: object

In [ ]:
#Accediendo a un elemento en particular
df2.loc["UdeA", "Name"]

'Juan'

In [ ]:
#Accediendo a algunas columnas del data frame
df2.loc[:, ["Name", "Topic"]]

       Name               Topic
UdeA   Juan   Quantum Mechanics
Unal  Pedro         statistical
ITM     Ana  Clasical Mechanics

Se recomienda crear copias del data frame cuando se esta trabajando con pandas a traves del metodo copy() y no con el operador =, dado que se comparte el mismo espacio de memoria

In [ ]:
df2

       Name               Topic  Score
UdeA   Juan   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
a = df2

In [ ]:
a

       Name               Topic  Score
UdeA   Juan   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
a.loc["UdeA", "Name"] = "JuanB"

In [ ]:
a

       Name               Topic  Score
UdeA  JuanB   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
df2

       Name               Topic  Score
UdeA  JuanB   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
b = df2.copy()

Eliminacion de columnas

In [ ]:
del b["Topic"]

In [ ]:
b

       Name  Score
UdeA  JuanB     10
Unal  Pedro     10
ITM     Ana     10

 Agregando nuevas columnas al data frame

In [ ]:
b["Nueva"] = [10, 8, 3]

In [ ]:
b

       Name  Score  Nueva
UdeA  JuanB     10     10
Unal  Pedro     10      8
ITM     Ana     10      3